<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMS_Master.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>H1dtyd5XL4gyD+djpgRnaXbgWU6bDhoj8/Dl1vSSxYonqIL+2nPHdxvylqLtB9RoinFGI4WiN54Vpc/wMUVSHD2MGhtCA0/b9zDg2x5hAf/vg/eFNlxCFADlzSG9SZjbBBzANYvEkNWibNQEctXrhbWWaK+QoPAMitUlwgF3w2Jx3Yz8WlsgIyFLjZkvyB+Dlm+d4UP1Td3TFSWLtj6R42Rlht+p8KynVrIcaIj1HUPYNNSqH7zPwsVRD85qen0s0e0F23Ky1UIFGuwFip/1cihj/u0EOzaB3OCa416mtma7gr7gA/JmEIOcJc5x4wGAjKYocYseCEr0d4k+6gt0bA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>O0pEdPAHgzNB1Sc5NhMRJuSqj1uhnWNu7JT4e0lXGln5jhZlGBdHS50Whi1+dI54VtCAsRDaDNRls+ixfS6dM4dSMlqSBUHdHoFpMb4xVtplGQpfJTI+NVlVYk6+hUZkybvF50UK8kgfxrbwK4UQKY/vXbtkEK511VmEIMIg9hXjcJEuamRcevegqjaommvkWuNYxmHM7MsP1WyenazC71+o8ICxLRHO3qrbplg8E13FneRhMDqYp8XnBMtL4anLOaf/vKMNC+TfJd7qHEdYCzIC/fZom4/rbTnJJALuIYoyuYB5OaiDLo4XmfA6wqG6r9aAZxdLMffIYV1005lF2kw+vUOZrUynibi+Os0vcAOKWUlJ79V73tlSIWGW6GHmzm/Cwcxt+ptcs5PuOR062XfPRKuTr7LK/S/GFu/Xb3dmrKaDaSEtNgQTxtxv4rZREkdM2IpFyCSY4bCmgR3uloF3mEvutmT/5YgZKrO2j4acoy45b1GabW84McBrZ8XtdQuz+IcCoXc7Oq4IWTeT1jDz8UUUzY077p1VYeUJrRmlSBVvNTXdjW6mvo+i2Tc7sWDNTuCjET1R8Xltq7X/timO0WgMmBzmw0CsGwC5lKNDLW5hbXcWVHD1XWrpDZ91hLrmQCL8WYeU+DkX41RlikB/Aoa512iUSvBTOUlZMLA=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Violet Light</value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <SMS_Master.Settings>
      <setting name="firstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </SMS_Master.Settings>
  </userSettings>
</configuration>