<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMS_Master.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YFDe6jg0m/ebfn1pVweYzQ272uijFZG2i7eVAODycM5N+4fqO3kCd80Bz+auifnJOtP58rgAMv8gQIjVGBiZZVnptvYoIy+sB2KMx22F+G5iq+q/3VY23+uZhXH8bBAnJcvIaRdvz1a4WFh4j62GxDUK3wiTLuNTB93v7CZcezcbw2ESJio/FQD9qI7KGrAoiPEMDycggOnHhmbKvieitNSKaaFbB8ndGoD7+Bab2PQUNufMx7AeSnfewDnMyL7zoLoeLkaRAmWrqFlVM4laUxXPEWMkwm85pbMdlOsbITZK6Ua6reWSpYoWhfPPc1MMaQRTshJpKOU/hpApsyX0PA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>p51y0AVrUkg+SdjcAz7oyxTtEtI/Ggh7Ibvjcq6HoEqxmBP/lcGT+BT+rMC9y1PMfQC+gj8PAVJjHbDvk5+vqCXi9ZtVhHCztysjMMLtB+KD+bpKYWdSnWJtEoK1Vy0+ECZHm82Uu7OGk3NChJUqe5I5ICk8nYv1doEisdbFE5kCAlRGYpEEij1cPVlh3dddTDIQf0TeUoVwFfXgfaEetLXYtSV8N5mB6rVrBKLsbANlrw+ZPQ/ptyyB5lXJcJQPieuo+JmWVyVMwEjal1wbfl71vfy10ibGlQV9w4al9+d8M0dWal622rYhsxky7ri9+ruGSMUeds9s9FybQpR+q1mTkIk+34sHUHzTP+xYCLbaYryGIiWQBxmZwZUbflGHQ4v6uzTUPfT+c8rcsnGrHOEiOUje/RWXwlQhPqi3LYLI7tvSYplkVQSMG2jtQe0o3+DwQ79ATSa70zLi16btDZ8K8iBAbef8l7oD2fB/u/lcRcyoACBmbFaoH/+R0hZ4Sz9cSSAu8XYmBjyRmuaU/ewpeM4gKrcE51rK+c5H/kxTOZQ3Wm6OQLaedLWs481STIxVXF1lotN8xJLvENsPXguTPxN/XBc6628ywj03yOTrY+eQRGidFG3EarhAoOVT8lbVr6Cu/PqVtzt/9mLW0LwDAgmW/tc5/jnfa0n1vIE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Violet Light</value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <SMS_Master.Settings>
      <setting name="firstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </SMS_Master.Settings>
  </userSettings>
</configuration>